.container{
    border: solid black 1px;
    background-color: gold;
    display:grid;
    min-height: 100vh;
    grid-template-rows:70px 70px 1fr 40px;
    grid-template-columns:1fr 350px;
    max-width: 1000em;
    grid-template-areas:
    "nav nav"
    "title sd"
    "body sd"
    "ft ft";
    
}

.box{
    border:solid black 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    
}

#nav{
    border: solid black 1px;
    grid-area:nav;
}

#sidebar{
    grid-area:sd;
}

#postTitle{
    grid-area:title;
    justify-content: start;
    padding-left: 10px;

    
}

#postBody{
    padding: 10px;
    grid-area:body;

}

#footer{
    grid-area:ft;
}